.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

img {
  width: 64px;
    flex-grow:0;
    flex-shrink:0;

}

.home , .away , .score {
  display: inline-block;
  -ms-align-items: center;
  align-items: center;
}



.score {
  font-size: 28px;
  font-weight: bold;
}

.home-icon {
  float: right;
}

.away-icon {
  float: left;
}


.result {
  display: flex;
  flex-wrap: wrap;
  -ms-align-items: center;
  align-items: center;
}
.result > div {
  margin: 10px -2px 10px 10px;
  text-align: right;
  line-height: 75px;
  font-size: 30px;
}

.home > span , .away > span {
  font-size: 19px;
}

.homet {
  min-width: 200px;
}
